.App {
	background-color: #111;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	font-family: "PT Sans", sans-serif;
}

h1,
h2,
p {
	color: #111;
	line-height: 1.6rem;
}

h1 {
	margin-left: 1rem;
}

header,
footer {
	background-color: orange;
	height: 10vh;
}

header {
	display: flex;
	align-items: center;
}

main {
	background-color: orange;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 1rem 0;
	width: 100vw;
	height: 75vh;
}

.box {
	background-color: white;
	min-height: 200px;
	min-width: 200px;
	margin: 1rem;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 5px #222;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	background-color: lightblue;
	border: 1px solid #222;
	padding: 0.5rem;
	cursor: pointer;
}
